*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

#body{
  min-height: 30vh;
  min-width: 100%;
  background-color: rgb(27, 26, 26);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

.header{
  background-color: #d49b46;
  color: white;
  width: 100%;
  text-align: center;
  height: 90px;
  padding: 30px;
  display: flex; /* Adicionado */
  align-items: center; /* Adicionado */
  justify-content: center;
}

.header-text {
  width: 60%;
  /* Remova a propriedade flex-direction e justify-content */
}
.text {
  font-size: 16px;
  color: black;
  /* Remova a propriedade flex-direction e justify-content */
}

.header-text{
  font-size: 20px;
  flex-direction: row;
  justify-content: center;
}

.section{
  flex-flow: row wrap;
  width: 90%;
  height: 900px;
  display: flex;
  flex-direction: row wrap;
  align-items: center;
  justify-content: center;
  background-color: green;
  
}

.section > div {
  padding: 30px;
  background-color: red;
  height: 40%;
  width: 40%;
  margin-top: -39%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.buttonCard {
  background-color: #4b457e;
  color: white;
  border: 0;
  height: 40px;
  width: 100px;
  
}

.image-home {
  width: 100%;
  background-color: blue;
}

.big-div {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bg-grey{
  background-color:#f6f6f6;
}

.orange {
  color: #f4511e;
}

.div-title {
  font-size: 30px;
  font-weight: 600;
}

.contact-container  {
  flex-flow: column;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  width:80%;
  
}
.div-title{
  text-align: center;
}


.contact-form{
  display: flex;
  flex-direction: row;
  /*flex-flow: row wrap;*/
  justify-content: space-between;
  width:100%;
}

#sect1{
  width: 100%;
}

#sect2{
  width:100%;
}

.contact-form > div {
  width: 500px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
}

.input-field {
  height: 40px;
  margin: 15px 0;
}

.contact-btn {
  margin-top: 15px;
  height: 40px;
  color: white;
  border: 0;
  background-color: #4b457e;
  
}

@media only screen and (min-width:320px) and (max-width:725px){
  .contact-form{
    display: flex;
    flex-direction: column;
    /*flex-flow: row wrap;*/
    width:80%;
  }

  .section{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }


  .small-div {
    width: 80%;
  }
}

